"""""""""""""""""""""""""""""""""""""""""""""" General Settings
" Scroll 5 lines near end of screen
set scrolloff=5

" Do incremental searching.
set incsearch

set timeoutlen=500
:set relativenumber
:set number
set nocompatible
set clipboard=unnamed
set ignorecase smartcase
let mapleader = "\<space>"

"""""""""""""""""""""""""""""""""""""""""""""" Vim related keys
"^$ The symbol is too hard to press
map gh ^
map gl $
inoremap jj <Esc>
nmap oo o<Esc>
nnoremap <esc><esc> :noh<return><esc>

"" Control and Shift keys allow repeating actions
"" Space keys do not

""""""""""""""""""""""""""""""""""""""""""""" Essential Actions
map <leader><leader> <Action>(GotoDeclaration)
map <leader>b <Action>(Back)
map <leader>f <Action>(Forward)
" May want Back and foward to be Repeatable as well.
map <S-U> <Action>($Redo)

""""""""""""""""""""""""""""""""""""""""""""" Repeatable Actions
noremap <S-K> <C-u>
noremap <S-J> <C-d>
map <C-k> <Action>(MethodUp)
map <C-j> <Action>(MethodDown)

""""""""""""""""""""""""""""""""""""""""""""" Search
map <leader>sr <Action>(RecentFiles)
map <leader>sl <Action>(RecentLocations)
map <leader>ss <Action>(FileStructurePopup)
map <leader>sc <Action>(GotoClass)
map <leader>sf <Action>(FindInPath)
map <leader>se <Action>(SearchEverywhere)
map <leader>sa <Action>(GotoAction)
" Need solutions for Find and replace within files

""""""""""""""""""""""""""""""""""""""""""""" Build and Run
map <F7> <Action>(CompileDirty)
map <F8> <Action>(Debug)
map <F9> <Action>(CompileFile)
map <F12> <Action>(Stop)

""""""""""""""""""""""""""""""""""""""""""""" Refactor
map <leader>rf <Action>(ReformatCode)
map <leader>rl <S-V><leader>rf
map <leader>rr <Action>(RenameElement)
map <leader>rm <Action>(ExtractFunction)
map <leader>rv <Action>(IntroduceVariable)

""""""""""""""""""""""""""""""""""""""""""""" Debug
" Step and continue should be Repeatable actions
map <F1> <Action>(ToggleLineBreakpoint)
map <F2> <Action>(StepInto)
map <F3> <Action>(StepOut)
map <F4> <Action>(StepOver)
map <F5> <Action>(Resume)
map <F6> <Action>(EvaluateExpression)

""""""""""""""""""""""""""""""""""""""""""""" Navigation
nnoremap gi :action GotoImplementation<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>

""""""""""""""""""""""""""""""""""""""""""""" Contexts
map <leader>cl <Action>(context.load)
map <leader>cc <Action>(context.clear)<Action>(SearchEverywhere)
map <leader>cs <Action>(context.save)

""""""""""""""""""""""""""""""""""""""""""""" Information
map <leader>ii <Action>(QuickJavaDoc)
map <leader>ip <Action>(ParameterInfo)

""""""""""""""""""""""""""""""""""""""""""""" Windows
map <leader>we <Action>(SelectInProjectView)
map <leader>wu <Action>(ActivateUnitTestsToolWindow)
map <leader>wt <Action>(ActivateTerminalToolWindow)
map <leader>wd <Action>(ActivateDebugToolWindow)
map <leader>ww <Action>(ToggleDistractionFreeMode)<Esc><Action>(Back)<Action>(Forward)
map <C-w> :action HideAllWindows<CR>

" Cannot use leader
"map <C-l> :action JumpToLastWindow<CR>

" Peripheral Settings that work well:
" A-j to down
" A-k to up
" swap esc with caps lock 

" Alt key settings
" A-w and A-e for switcher

" Find more examples here: https://jb.gg/share-ideavimrc
