"""""""""""""""""""""""""""""""""""""""""""""" General Settings
" Scroll 5 lines near end of screen
set scrolloff=5

" Do incremental searching.
set incsearch

set timeoutlen=500
:set relativenumber
:set number
set nocompatible
set clipboard=unnamed
set ignorecase smartcase
let mapleader = "\<space>"

"""""""""""""""""""""""""""""""""""""""""""""" Vim related keys
"^$ The symbol is too hard to press
map gh ^
map gl $
inoremap jj <Esc>
nmap oo o<Esc>
nnoremap <esc><esc> :noh<return><esc>

""""""""""""""""""""""""""""""""""""""""""""" Search

""""""""""""""""""""""""""""""""""""""""""""" Jump

""""""""""""""""""""""""""""""""""""""""""""" Debug

map <leader>b <Action>(GotoDeclaration)
map <leader>r <Action>(RecentFiles)
map <leader>l <Action>(RecentLocations)
map <leader>i <Action>(QuickJavaDoc)
map <leader>s <Action>(FileStructurePopup)
map <leader>m <Action>(GotoClass)
map <leader>f <Action>(Back)
map <leader>g <Action>(Forward)
map <leader>w <Action>(SelectInProjectView)
map <leader>n <Action>(GotoClass)

" Find more examples here: https://jb.gg/share-ideavimrc
